    
[submodule "ExWorkshop\\third_party\\glfw"]
	path = ExWorkshop\\third_party\\glfw
	url = https://github.com/glfw/glfw
[submodule "ExWorkshop\\third_party\\glm"]
	path = ExWorkshop\\third_party\\glm
	url = https://github.com/g-truc/glm
    
[submodule "ExWorkshop\\third_party\\spdlog"]
	path = ExWorkshop\\third_party\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "ExWorkshop\\third_party\\imgui"]
	path = ExWorkshop\\third_party\\imgui
	url = https://github.com/ocornut/imgui
	branch = docking
    
[submodule "ExWorkshop\\third_party\\yaml_cpp"]
	path = ExWorkshop\\third_party\\yaml_cpp
	url = https://github.com/jbeder/yaml-cpp
    
[submodule "ExWorkshop\\third_party\\dr_libs"]
	path = ExWorkshop\\third_party\\dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "ExWorkshop\\third_party\\openal_soft"]
	path = ExWorkshop\\third_party\\openal_soft
	url = https://github.com/kcat/openal-soft
[submodule "ExWorkshop\\third_party\\minimp3"]
	path = ExWorkshop\\third_party\\minimp3
	url = https://github.com/lieff/minimp3
