[submodule "ExWorkshop\\vendor\\glfw"]
	path = ExWorkshop\\vendor\\glfw
	url = https://github.com/3x3y3z3t/glfw
[submodule "ExWorkshop\\vendor\\spdlog"]
	path = ExWorkshop\\vendor\\spdlog
	url = https://github.com/3x3y3z3t/spdlog
[submodule "ExWorkshop\\vendor\\glm"]
	path = ExWorkshop\\vendor\\glm
	url = https://github.com/3x3y3z3t/glm
[submodule "ExWorkshop\\vendor\\imgui"]
	path = ExWorkshop\\vendor\\imgui
	url = https://github.com/3x3y3z3t/imgui
    branch = docking
[submodule "ExWorkshop\\vendor\\yaml_cpp"]
	path = ExWorkshop\\vendor\\yaml_cpp
	url = https://github.com/3x3y3z3t/yaml-cpp
