[submodule "ExWorkshop/vendor/spdlog"]
	path = ExWorkshop/vendor/spdlog
	url = https://github.com/3x3y3z3t/spdlog
[submodule "ExWorkshop/vendor/glfw"]
	path = ExWorkshop/vendor/glfw
	url = https://github.com/3x3y3z3t/glfw
